.git
.env
.env.*
!.env.example
vendor
storage/logs
storage/framework/cache
storage/framework/sessions
storage/framework/views
storage/pail
bootstrap/cache/*.php
.phpunit.cache
.phpunit.result.cache
node_modules
*.log
.DS_Store
